.Submit{
    margin-left: 40%;
    margin-right: 40%;
}
.AddMore{
    width: 150px;
    float: right;
    margin-right: 25%;  
}
.Back{
    float: left;
    margin-left: 420px;  
}
.Remove{
    margin-top: 0px;
    margin-left: 29%;
}
.Next{
    float: right;
    margin-right: 25%;   
}