.Logo{
    /* background-color: white; */
    padding: 8px;
    height: 10%;
    width: 60%;
    box-sizing: border-box;
    
}

.Logo img{
    height: 80px;
    width: 100px;
    border-radius: 10px;
}